schema_version: 2.0.0
component: AdvCore

category: EXPORT
#-----------------------------------------------------------------------------------
  SHORT_NAME  |     LONG_NAME     |  UNITS  |  DIMS  | VLOC |  FIELD_TYPE | TYPEKIND
#-----------------------------------------------------------------------------------
  AREA        |  agrid_cell_area  |   m+2   |   xy   |  N   |             |

category: IMPORT
#---------------------------------------------------------------------------------------------------------------------------------------
  SHORT_NAME  |                      LONG_NAME                      |    UNITS     |  TYPEKIND  |  DIMS  | VLOC |  DATATYPE  | FIELD_TYPE
#---------------------------------------------------------------------------------------------------------------------------------------
  MFX         |  pressure_weighted_eastward_mass_flux               |  Pa m+2 s-1  |  R8        |  xyz   |  C   |            |
  MFY         |  pressure_weighted_northward_mass_flux              |  Pa m+2 s-1  |  R8        |  xyz   |  C   |            |
  CX          |  eastward_accumulated_courant_number                |  1           |  R8        |  xyz   |  C   |            |
  CY          |  northward_accumulated_courant_number               |  1           |  R8        |  xyz   |  C   |            |
  PLE0        |  pressure_at_layer_edges_before_advection           |  Pa          |  R8        |  xyz   |  E   |            |
  PLE1        |  pressure_at_layer_edges_after_advection            |  Pa          |  R8        |  xyz   |  E   |            |
