version: 2.1

# Anchors in case we need to override the defaults from the orb
#baselibs_version: &baselibs_version v8.14.0
#bcs_version: &bcs_version v12.0.0

orbs:
  ci: geos-esm/circleci-tools@5

workflows:
  build-test:
    jobs:
      # Build GEOSgcm
      - ci/build:
          name: build-GEOSgcm-on-<< matrix.compiler >>
          context:
            - docker-hub-creds
          matrix:
            parameters:
              compiler: [gfortran, ifort]
          #baselibs_version: *baselibs_version
          repo: GEOSgcm
          checkout_fixture: true
          # V12 code uses a special branch for now.
          fixture_branch: feature/sdrabenh/gcm_v12
          # We comment out this as it will "undo" the fixture_branch
          #mepodevelop: true
          persist_workspace: true # Needs to be true to run fv3/gcm experiment, costs extra
      - ci/run_fv3:
          name: run-FV3-on-<< matrix.compiler >>-with-GEOSgcm
          context:
            - docker-hub-creds
          matrix:
            parameters:
              compiler: [gfortran, ifort]
          #baselibs_version: *baselibs_version
          requires:
            - build-GEOSgcm-on-<< matrix.compiler >>
          repo: GEOSgcm
      # Run AMIP GCM (1 hour, no ExtData)
      - ci/run_gcm:
          name: run-GCM-on-<< matrix.compiler >>
          context:
            - docker-hub-creds
          matrix:
            parameters:
              compiler: [gfortran, ifort]
          requires:
            - build-GEOSgcm-on-<< matrix.compiler >>
          repo: GEOSgcm
          #baselibs_version: *baselibs_version
          #bcs_version: *bcs_version
      - ci/build:
          name: build-GEOSfvdycore-as-<< matrix.fv_precision >>-on-<< matrix.compiler >>
          context:
            - docker-hub-creds
          matrix:
            parameters:
              compiler: [ifort, gfortran]
              fv_precision: ["R4", "R8"]
          #baselibs_version: *baselibs_version
          repo: GEOSfvdycore
          checkout_fixture: true
          # V12 code uses a special branch for now.
          fixture_branch: feature/sdrabenh/gcm_v12
          mepodevelop: false
          persist_workspace: true # Needs to be true to run fv3/gcm experiment, costs extra
      - ci/run_fv3:
          name: run-FV3-as-<< matrix.fv_precision >>-on-<< matrix.compiler >>-with-GEOSfvdycore
          context:
            - docker-hub-creds
          matrix:
            parameters:
              compiler: [gfortran, ifort]
              fv_precision: ["R4", "R8"]
          #baselibs_version: *baselibs_version
          requires:
            - build-GEOSfvdycore-as-<< matrix.fv_precision >>-on-<< matrix.compiler >>
          repo: GEOSfvdycore
